.wgsa-file-icon {
    position: relative;
}
.wgsa-file-icon> i {
    font-size: 6rem;
    user-select: none;
}
.wgsa-file-icon> span {
    position: absolute;
    color: #fff;
    left: 0;
    right: 0;
    bottom: 1.25rem;
    font-size: 1.25rem;
    text-align: center;
}
.wgsa-drop-indicator {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    visibility: hidden;
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.is-dragover .wgsa-drop-indicator {
    background-color: rgba(0, 0, 0, .5);
    visibility: visible;
    opacity: 1;
}
.wgsa-drop-indicator * {
    pointer-events: none;
}
.wgsa-drop-indicator__message {
    position: relative;
    background: #2196F3;
    color: #ffffff;
    padding: 32px 64px;
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.wgsa-drop-indicator__icons {
    position: absolute;
    text-align: center;
    top: -32px;
    left: 0;
    right: 0;
}
.wgsa-drop-indicator__icons .wgsa-file-icon> span {
    color: rgb(60, 115, 131);
}
.wgsa-drag-and-drop.is-dragover:not(.wgsa-drop-indicator) * {
    pointer-events: none;
}