.cgps-overlay {
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  visibility: hidden;
  transition-property: opacity;
  transition-duration: .28s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cgps-overlay--is-visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.cgps-overlay__content {
  position: relative;
  z-index: 1;
  overflow-y: auto;
}

.cgps-overlay__close {
  position: absolute;
  top: 8px;
  right: 8px;
}
