.mp-info .mui--text-display3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mp-info .mui--text-display2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mp-info-list .mui--text-display1 {
  margin-bottom: 0.5em;
}

.mp-info-list .mui--text-display1 > .mui--pull-right {
  margin-top: -0.5em;
}
