@import url("http://fonts.googleapis.com/css?family=Pacifico");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic");

/**
 * Body CSS
 */
html,
body,
#mash-potato,
.mp-application {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */
.mui-appbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: #0386C9;
}


/**
 * Content CSS
 */

.mp-application > .mp-application-container {
  background-color: #E5E5E5;

  min-height: 100%;

  /* sticky footer */
  margin-bottom: -100px;
  padding-bottom: 100px;
}


/**
 * Footer CSS
 */
footer {
  height: 100px;
  background-color: #34495E;
  border-top: 1px solid #e0e0e0;
  padding-top: 35px;
  color: #ffffff;
  font-weight: bold;
}

footer a {
  color: #ffffff;
}

.mp-application-title {
  font-size: 24px;
  font-weight: bold;
  float: left;
}

.mp-application-links {
  font-weight: bold;
  float: right;
}

.mp-application-links .mui-btn {
  background-color: #0386C9;
  color: #fff;
  font-weight: bold;
}

.mp-application-links .mui-btn:focus,
.mp-application-links .mui-btn:hover {
  background-color: #fff;
  color: #0386C9;
  box-shadow: none;
  border: none;
  border-radius: 4px;
}

.mp-info-list .mui-table.mui-table--bordered > thead > tr > td {
  font-weight: bold;
  vertical-align: top;
}

.mp-info-list .mui-table.mui-table--bordered > tbody > tr > td {
  border-top: 1px solid rgba(0,0,0,.12);
  border-bottom: none;
}

.mp-mashing {
  position: fixed;
  right: 32px;
  bottom: 32px;
}
